/* custom font */
@font-face {  
  font-family: 'abbernancy'; /* Name to use in Phaser */  
  src: url('../assets/fonts/ABBERNANCY.woff2') format('woff2'); /* Path to font file */
  font-weight: normal; /* Default weight (400) */  
  font-style: normal;  /* Default style (normal) */  
  font-display: swap;  /* Use fallback font until custom font loads */  
}  